name: Frontend deployment to Cloud Run

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy-frontend.yaml'

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: ${{ secrets.GCP_REGION }}
  ARTIFACT_REGISTRY_REPO: ${{ secrets.ARTIFACT_REGISTRY_REPO }}
  IMAGE_NAME: ${{ secrets.FRONTEND_IMAGE_NAME }}
  SERVICE_NAME: ${{ secrets.FRONTEND_SERVICE_NAME }}
  IMAGE_TAG: ${{ github.sha }}

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: 'auth-gcloud'
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}

      - name: Configure Docker 
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build and Tag Image
        run: |
          FE_FULL_IMAGE_PATH="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}"
          echo "FE_FULL_IMAGE_PATH=$FE_FULL_IMAGE_PATH" >> $GITHUB_ENV
          docker build -t "$FE_FULL_IMAGE_PATH" ./frontend

      - name: Push Image to Artifact Registry
        run: |
          docker push "$FE_FULL_IMAGE_PATH"

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          image: ${{ env.FE_FULL_IMAGE_PATH }}
          service: ${{ env.SERVICE_NAME }}
          region: ${{ env.REGION }}
          unauthenticated: true
